[MASTER]
load-plugins=pylint.extensions.docparams

[MESSAGES CONTROL]
disable=fixme,
        missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-locals,
        no-else-return,
        no-else-raise,
        line-too-long,

[BASIC]
const-naming-style=any
good-names-rgxs=^[_a-z][_a-z0-9]?$  # accept any names up to two characters

[FORMAT]
max-line-length=88

[PARAMETER_DOCUMENTATION]
default-docstring-type=numpy